.map-main {
  display: flex;
  height: 100%;
}

.map-sidebar {
  background: #fff;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  max-width: 250px;
  overflow-y: scroll;
  padding: 1.5em;
  width: 100%;
}

.map-sidebar-field {
  border-bottom: 1px solid #000;
  margin: 0.4em 0;
  padding-bottom: 0.7em;
}

.map-sidebar-field__label {
  cursor: pointer;
  font-size: 1em;
  opacity: 0.8;
  padding: 0.4em 0;
  position: relative;

  &-drop {
    font-size: 2em;
    margin-top: -13px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.map-sidebar-field-checkboxes {
  animation: collapse 0.5s;
  animation-fill-mode: both;

  &--visible {
    animation: expand 0.5s;
    animation-fill-mode: both;
  }

  @keyframes expand {
    0% {
      height: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }

    1% {
      visibility: visible;
      z-index: 1;
    }

    100% {
      height: fit-content;
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }

  @keyframes collapse {
    0% {
      height: fit-content;
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }

    99% {
      visibility: hidden;
      z-index: -1;
    }

    100% {
      height: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }
}

.map-container-wrapper {
  flex: 1 0 auto;
  position: relative;
}

.map-container {
  height: 100%;
}

.map-metrics {
  background-color: #fff;
  border-radius: 10px;
  max-width: 200px;
  padding: 2em;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 500;
}

.map-metrics-legend {
  margin-top: 1em;

  &__key {
    display: grid;
    font-size: 0.8em;
    grid-template-columns: 15px 1fr 30px;

    &-number {
      text-align: right;
      width: 100%;
    }
  }
}
