.map-main {
  display: flex;
  height: 100%;
}

.map-filters {
  background: #fff;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  max-width: 250px;
  overflow-y: scroll;
  padding: 1.5em;
  width: 100%;
}

.map-filters-field {
  animation: expand 5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  border-bottom: 1px solid #000;
  margin: 0.4em 0;
  overflow: hidden;
  padding-bottom: 0.7em;

  @keyframes expand {
    from {
      max-height: 0;
    }

    to {
      max-height: 100vh;
    }
  }
}

.map-filters-field__label {
  cursor: pointer;
  font-size: 1em;
  opacity: 0.8;
  padding: 0.4em 0;
  position: relative;

  &-drop {
    font-size: 2em;
    margin-top: -13px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;

    &--open {
      margin-top: 2px;
      transform: rotate(180deg);
    }
  }
}

.map-filters-field-checkboxes {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &--visible {
    max-height: 100vh;
  }
}

.map-marker {
  animation: zoom-in 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  overflow: hidden;

  @keyframes zoom-in {
    from {
      max-height: 0;
    }

    to {
      max-height: 50px;
    }
  }
}

.map-marker--selected {
  animation: pulse 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  z-index: 1000 !important;

  @keyframes pulse {
    50% {
      height: 50px;
      margin-left: -15px;
      margin-top: -30px;
      width: 30px;
    }
  }
}

.map-container-wrapper {
  flex: 1 0 auto;
  position: relative;
}

.map-container {
  height: 100%;
}

.map-metrics {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px #909090;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity 0.8s ease, z-index 1s step-end;
  width: 225px;
  z-index: -1;

  &--visible {
    opacity: 1;
    transition: opacity 0.5s ease, z-index 1s step-start;
    z-index: 500;
  }
}

.map-metrics-tabs {
  display: flex;
}

.map-metrics-tabs__button {
  background: rgb(208, 208, 208);
  cursor: pointer;
  display: block;
  font-size: 0.7em;
  padding: 1em;
  transition: all 0.3s ease;
  width: 100%;

  &--active {
    background: #fff;
  }
}

.map-metrics-content {
  height: 450px;
  overflow-y: scroll;

  &--complaint {
    font-size: 0.95em;
    padding: 1em;
  }

  &--station {
    padding: 1.5em;
  }
}

.complaint-field {
  animation: fade-in 0.4s;
  animation-fill-mode: both;
  padding: 0.5em 0;

  label {
    font-weight: bold;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.map-metrics-legend {
  margin-top: 1em;

  &__key {
    display: grid;
    font-size: 0.8em;
    grid-template-columns: 15px 1fr 30px;

    &-number {
      text-align: right;
      width: 100%;
    }
  }
}
