.map-main {
  display: flex;
  height: 100%;
}

.map-sidebar {
  background: #fff;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  max-width: 250px;
  overflow-y: scroll;
  padding: 1.5em;
  width: 100%;
}

.map-sidebar-field {
  border-bottom: 1px solid #000;
  margin: 0.4em 0;
  padding-bottom: 0.7em;
}

.map-sidebar-field__label {
  cursor: pointer;
  font-size: 1em;
  opacity: 0.8;
  padding: 0.4em 0;
  position: relative;

  &-drop {
    font-size: 2em;
    margin-top: -13px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.map-sidebar-field-checkboxes {
  animation: collapse 0.5s;
  animation-fill-mode: both;

  &--visible {
    animation: expand 0.5s;
    animation-fill-mode: both;
  }

  @keyframes expand {
    0% {
      height: 0;
      opacity: 0;
      z-index: -1;
    }

    1% {
      height: 100%;
      z-index: 1;
    }

    100% {
      height: 100%;
      opacity: 1;
      z-index: 1;
    }
  }

  @keyframes collapse {
    0% {
      height: 100%;
      opacity: 1;
      z-index: 1;
    }

    99% {
      height: 100%;
      z-index: 1;
    }

    100% {
      height: 0;
      opacity: 0;
      z-index: -1;
    }
  }
}

.map-marker--selected {
  animation: pulse 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  z-index: 1000 !important;

  @keyframes pulse {
    50% {
      height: 50px;
      margin-left: -15px;
      margin-top: -30px;
      width: 30px;
    }
  }
}

.map-container-wrapper {
  flex: 1 0 auto;
  position: relative;
}

.map-container {
  height: 100%;
}

.map-metrics {
  animation: fade-out 0.5s;
  animation-fill-mode: both;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px #909090;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  visibility: hidden;
  width: 225px;

  &--visible {
    animation: fade-in 0.3s;
    animation-fill-mode: both;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      z-index: -1;
    }

    1% {
      z-index: 500;
    }

    100% {
      opacity: 1;
      z-index: 500;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      z-index: 500;
    }

    99% {
      z-index: 500;
    }

    100% {
      opacity: 0;
      z-index: -1;
    }
  }
}

.map-metrics-tabs {
  display: flex;
}

.map-metrics-tabs__button {
  background: rgb(208, 208, 208);
  cursor: pointer;
  display: block;
  font-size: 0.7em;
  padding: 1em;
  transition: all 0.3s ease;
  width: 100%;

  &--active {
    background: #fff;
  }
}

.map-metrics-content {
  height: 450px;
  overflow-y: scroll;

  &--complaint {
    font-size: 0.9em;
    padding: 1em;
  }

  &--station {
    padding: 1.5em;
  }
}

.complaint-field {
  padding: 0.5em 0;

  label {
    font-weight: bold;
  }
}

.map-metrics-legend {
  margin-top: 1em;

  &__key {
    display: grid;
    font-size: 0.8em;
    grid-template-columns: 15px 1fr 30px;

    &-number {
      text-align: right;
      width: 100%;
    }
  }
}
